
.left-base {
    background: var(--primary-color);
}

.name {
    height: 80px;
    width: 100%;

    p {
        font-size: 70px;
        color: $left-pannel-text;
    }
}

.age {
    height: 40px;
    font-size: 20px;

    span {
        margin-left: 10px;
        color: var(--dark-primary-color);
    }

    i {
        font-size: 24px;
        margin-left: 5px;
        color: var(--dark-primary-color);

    }
}

.education {
    padding: 8px;
    color: var(--darkest-primary-color);
    border-color: $border-color;
    border-style: solid;
    border-width: 2px 0 1px 0;
    margin: 0 30px 0 30px;

    p {
        white-space: nowrap;
        font-size: 24px;

        +p {
            font-size: 18px;

            +p {
                font-size: 14px;
            }
        }
    }
}

.position {
    margin: 16px;
    font-size: 24px;
    color: var(--light-primary-color);
}

.intro {
    width: 100%;

    img {
        width: 80%;
    }
}